@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
:root {
  --main-background: #fefefe;
  --main-background-2: #e1e1e1;
  --main-overlay: #0000006e;
  --main-color: #1e1e1e;
  --main-color-2: rgb(160, 160, 160);
  --default-color-transition: color ease-in-out 0.2s;
  --main-spacing: 0.5rem;
  --title-font: 'Poppins', sans-serif;
}

html {
  font-size: 100%;
  --main-background: #fefefe;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.jb {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: var(--main-color);
  background-color: var(--main-background);
  font-family: 'Rubik', sans-serif;
  -webkit-transition: var(--default-color-transition);
  transition: var(--default-color-transition);
}

.jb-wrapper {
  height: 100%;
  overflow: scroll;
}

.jb-page {
  width: 100%;
  height: 100%;
  padding: 6vh;
}

.jb-navbar {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--main-background);
}

.jb-navbar a {
  text-decoration: none;
  color: var(--main-color-2);
  text-transform: uppercase;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  margin-right: calc(2 * var(--main-spacing));
}

.jb-navbar a:hover {
  color: var(--main-color);
}

.jb-navbar-r {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.jb-navbar-r a {
  margin-left: calc(2 * var(--main-spacing));
}

.jb-navbar-l {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.jb-navbar-l a {
  margin-right: calc(2 * var(--main-spacing));
}

.jb-navbar-m {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jb-navbar-m a {
  margin-left: calc(2 * var(--main-spacing));
  margin-right: calc(2 * var(--main-spacing));
}

.jb-navbar-mobile {
  position: fixed;
  width: 100%;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  display: none;
}

.jb-navbar-mobile .jb-navbar-mobile-icon-wrapper {
  background-color: var(--main-background);
  width: calc(5 * var(--main-spacing));
  height: calc(5 * var(--main-spacing));
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
}

.jb-navbar-mobile i {
  font-size: 1.5rem;
  color: var(--main-color);
}

.jb-navbar-mobile-content-wrapper {
  height: 92vh;
  width: 100%;
  top: 8vh;
  position: fixed;
  background-color: var(--main-overlay);
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.jb-navbar-mobile-content {
  height: 100%;
  width: 50%;
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--main-background-2);
  -webkit-transition: translate 0.2s ease-in-out;
  transition: translate 0.2s ease-in-out;
}

.jb-navbar-mobile-content a {
  margin-top: calc(2 * var(--main-spacing));
  margin-bottom: calc(2 * var(--main-spacing));
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--main-color);
}

@media screen and (max-width: 768px) {
  .jb-navbar-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .jb-navbar {
    display: none;
  }
}

.jb-hero-section {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.jb-hero-section img {
  width: 100%;
}

.jb-hero-section h2 {
  font-family: var(--title-font);
  font-size: 4rem;
}

.jb-hero-section-right {
  height: 100%;
}

.jb-h2 {
  font-family: var(--title-font);
  font-size: 4rem;
  font-weight: bold;
}

.jb-scroll-snap-container {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.jb-scroll-snap {
  scroll-snap-align: start;
}

.jb-bg-primary {
  background-color: var(--main-background);
}

.jb-bg-secondary {
  background-color: green;
}

.jb-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jb-v-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jb-m-1 {
  margin: 0.25rem;
}

.jb-m-2 {
  margin: 0.5rem;
}

.jb-m-3 {
  margin: 1rem;
}

.jb-m-4 {
  margin: 1.5rem;
}

.jb-m-5 {
  margin: 2rem;
}

.jb-m-6 {
  margin: 2.5rem;
}

.jb-m-7 {
  margin: 3rem;
}

.jb-mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.jb-mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.jb-mx-3 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.jb-mx-4 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.jb-mx-5 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.jb-mx-6 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.jb-mx-7 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.jb-my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.jb-my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.jb-my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.jb-my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.jb-my-5 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.jb-my-6 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.jb-my-7 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.jb-p-1 {
  padding: 0.25rem;
}

.jb-p-2 {
  padding: 0.5rem;
}

.jb-p-3 {
  padding: 1rem;
}

.jb-p-4 {
  padding: 1.5rem;
}

.jb-p-5 {
  padding: 2rem;
}

.jb-p-6 {
  padding: 2.5rem;
}

.jb-p-7 {
  padding: 3rem;
}
/*# sourceMappingURL=jb.css.map */